* {
    font-family: 'Dokdo', cursive;
}

.login-title {
    color: white;
    background-image: url("https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg");
    padding: 30px;
    margin: 30px;
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    padding-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#wrap {
    width: 300px;
    margin: auto;
}
